# Frontend (Next.js)
frontend/node_modules
frontend/.next
frontend/out
frontend/build
frontend/.env*
frontend/.vercel

# Backend (Python/FastAPI)
backend/venv
backend/__pycache__
backend/*.pyc
backend/.env

# File generati da IDE
.vscode/
.idea/

# File di sistema operativo
.DS_Store
Thumbs.db